
#filter-bar{
  border-bottom: solid 1px #B9B9B9;
  position: relative;
  top: -15px;
  padding-left: 15px;
  padding-bottom: 5px;
  color: #ED4E8E;

}
.announcement{
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 25pt;
}
.announcement a{
    color: #ED4E8E;
}
.pink-button{
  border-radius: 5px;
  border: 1px solid #B9B9B9;
  background-color: #ED4E8E;
  color: white;
  font-size: 12pt;
  font-family: 'Lobster', cursive;
}
.activity-button{
  border-radius: 5px;
  border: 1px solid #B9B9B9;
  background-color: #ED4E8E;
  color: white;
  font-size: 12pt;
  font-family: 'Lobster', cursive;
  float: right;
  display: inline;
}
.person-card{
  margin: 5px;
  background-color: #f8f8f8;
  border: 1px solid #B9B9B9;
  border-radius: 2px;
}

.person-info-area{
  width: 60%;
  float: left;
}
.person-pic-area{
  width: 40%;
  float: left;
}
.person-pic{
  width:100px;
  height:100px;
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
}

.comment-card{
  margin: 5px;
  background-color: #f8f8f8;
  border: 1px solid #B9B9B9;
  border-radius: 2px;
}
.comment-info-area{
  width: 60%;
  float: right;
}
.comment-pic-area{
  width: 40%;
  float: left;
}
.comment-pic{
  width:100px;
  height:100px;
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

.activity-card{
  margin: 5px;
  background-color: #f8f8f8;
  border: 1px solid #B9B9B9;
  border-radius: 2px;
}
.group-card{
  margin: 5px;
  background-color: #f8f8f8;
  border: 1px solid #B9B9B9;
  border-radius: 2px;
  text-decoration: none;
  color: black;
}
.group-label{
  color: #ED4E8E;
  font-weight: bold;
}
.tag-button{
  border-radius: 5px;
  border: 1px solid #B9B9B9;
  background-color: #ED4E8E;
  color: white;
  font-size: 12pt;
  font-family: 'Lobster', cursive;
  float: right;
}
.teaching-card{
  background-color: #f8f8f8;
  border: 1px solid #B9B9B9;
  border-radius: 2px;
}
.thin-rule{
  margin: 2px;
}
.group-member{
  border-bottom: 1px solid #B9B9B9;
  font-weight: bold;
  overflow: auto;
  clear: both;
}
.group-member-pic{
  float: right;
  width: 40px;
  height: 40px;
}
.post-member-pic{
  float: left;
  width: 40px;
  height: 40px;
  margin: 5px;
}
.post-member-name{
  font-weight: bold;
}
.comment-area{
  padding: 5px;
  border: 1px solid #B9B9B9;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.21);
  margin: 5px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}
