{% extends "template.html" %}
{% block title %}Ward Activities{%endblock%}
{% block content %}

<div class="row">
  <div style="text-align: center;">
  <span class="announcement"><a data-toggle="modal" data-target="#add_activity">Add an activity</a></span>
  <hr>
  <span class="announcement">Upcoming activities</span>
  </div>

  <div class="col-2"></div>
    <div class="col-8">
      <!-- Add activity modal -->
      <div id="add_activity" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Add an Activity</h4>
            </div>
            <div class="modal-body">
              <form action='/activities' id='addactivity' name='addactivity' method='POST'>
                <input type='hidden' name='action' value='add_activity'>
                Activity Name:<br> <input type='text' name='activityname'><br>
                Date:<br> <input type='text' name='activitydate'><br>
                Location:<br> <input type='text' name='activitylocation'><br>
                Committee:<br> <input type='text' name='activitycommittee'><br>
                Description:<br> <textarea name='activitydescription' rows='3' cols='70' form='addactivity'></textarea>
                <button class='pink-button' type='submit'>Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    	{%for activity in activities%}
      <div class='activity-card col-12'>
      	<div class='activity-info-area'>
      	  <span style="font-weight: bold; padding-right: 5px;">{{activity.name}}</span> 
    	    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{activity.date}}
      	  <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> {{activity.location}}
      	  <span style="float: right"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{activity.attending}} attending</span>
          <br>
          <span style="font-weight: bold;">Description</span><br>
      	  <span aria-hidden="true"></span> {{activity.description}}
      	  <form action='/activities' method='POST' style="display:inline;">
      	  	<input type='hidden' name='action' value='mark_attending'>
      	  	<input type='hidden' name='activity_name' value='{{activity.name}}'>
      	  	<input type='hidden' name='activity_date' value='{{activity.date}}'>
      	  	<button class="activity-button" type='submit'>I'm going!</button><br>
      	  </form>
        </div>
      </div>
    {%endfor%}
    </div>
  </div>

{%endblock%}
