{% extends "template.html"%}
{% block title%}Ward Directory{%endblock%}
{%block content%}
  <script src="/static/js/directory.js"></script>
  <div id = "filter-bar">
    <form action="/directory" method="post">
      Filter by:
      <select name="filter" onchange="setFilter(this.value)">
        <option value="placeholder">Select a Filter</option>
        <option value="household">Household</option>
        <option value="fhefamily">FHE Family</option>
        <option value="committee">Committee</option>
      </select>
      <span id="household-container" style="display:none">
        <select name="household">
          {%for household in households%}
            <option value="{{household}}">{{household}}</option>
          {%endfor%}
        </select>
      </span>

      <span id="fhefamily-container" style="display:none">
        <select name="fhefamily">
          {%for family in fhe%}
            <option value="{{family}}">{{family}}</option>
          {%endfor%}
        </select>
      </span>

      <span id="committee-container" style="display:none;">
        <select name="committee">
          {%for committee in committees%}
            <option value="{{committee}}">{{committee}}</option>
          {%endfor%}
        </select>
      </span>
      <button class="pink-button" type="submit">Go</button>
    </form>
  </div>
  <div class="announcement">
    {{header}}
  </div>
  <div class="row">
    <div class="col-2"></div>
      <div class="col-9">
      {%for person in people %}
        <div class="person-card col-5">
          <div class="person-info-area">
            <span style="font-weight: bold;">{{ person.name }}</span><br>
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{ person.address }}<br>
            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> {{person.phone}}<br>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{person.email}}<br>
            <span class="glyphicon glyphicon-flash" aria-hidden="true"></span> {{person.calling}}<br>

          </div>
          <div class="person-pic-area">
            <img class="person-pic" src="./static/images/{{ person.pic }}">
          </div>
        </div>
      {%endfor%}
    </div>
  </div>
{%endblock%}
