{% extends "template.html" %}
{% block title %}Groups{%endblock%}
{% block content %}


    <!-- Add post Modal -->
    <div id="add_post" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add a Post</h4>
          </div>
          <div class="modal-body">
            <form action='/group/{{groupname}}' id="poster" method='POST'>
              <input type="hidden" name="question" value="new_post">
              Your Name:<br> <input type='text' name='post_name'><br>
              Scripture:<br> <input type='text' name='post_scripture'><br>
              Comment:<br> <textarea form="poster" rows="3" cols="70" name='post_contents'></textarea><br>
              <button class = "pink-button" type="submit">Post</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
	    <div class="col-2" style="border-right: solid 1px #B9B9B9;">
        <div class="group-member">
        Members of {{groupname}}:
      </div>
        {%for photo in photos%}
        <div class="group-member">
          {{photo.name}}
          <img class="group-member-pic" src="../static/images/{{photo.photo}}">
        </div>
        {%endfor%}
	    </div>
	      <div class="col-9">
          <div class="announcement">
            <button type="button" class="pink-button" data-toggle="modal" data-target="#add_post" style="float: left;">Create A Post</button>
            Posts in {{groupname}}
          </div>
	      	{%for post in posts%}
		      <div class='person-card'>
            <div class="group-member">
              <img class="post-member-pic" src="../static/images/{{post.photo}}">
              <span class="post-member-name">{{post.name}}</span><br>
              at {{post.time}}
            </div>
	      	  <span style="font-weight: bold;">{{post.scripture}}</span>
            <div class="comment-area">
          	  {{post.text}}<br>
            </div>
            <div style="text-align: right;">
            <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
		        {%for tag in post.tags%}
		          {% if loop.index<4 %}
		          <form action='/group/{{groupname}}' method='POST' style="display: inline; ">
		          	<input type="hidden" name="question" value="filter_by_tag">
		          	<input type="hidden" name="filter_tag" value="{{tag}}">
		        	<button class="pink-button" type="submit">#{{tag}}</button>
		          </form>
		          {% endif %}
		          {% if loop.index==4 %}
		          ..and {{loop.revindex}} more!
		          {% endif %}
		        {%endfor%}
		      </div>
        </div>
		    {%endfor%}

	      </div>
	    </div>
	</div>
{%endblock%}
