{% extends "template.html" %}
{% block title %}Scripture Groups{%endblock%}
{% block content %}
<div class="row">
  <div style="text-align: center;">
    <span class="announcement"><a data-toggle="modal" data-target="#add_group">Create Group</a></span>
      <hr>
    <div class="announcement"> Scripture Study Groups</div>
  </div>
  <div class="col-2"></div>
  <div class="col-8">
    <div id="add_group" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Create Group</h4>
            </div>
            <div class="modal-body">
              <form action='/group' id='addgroup' name='addgroup' method='POST'>
                <input type='hidden' name='action' value='add_group'>
                Group Name:<br> <input type='text' name='groupname'><br>
                Description:<br> <textarea name='groupdescription' rows='3' cols='70' form='addgroup'></textarea>
                <button class='pink-button' type='submit'>Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    {%for group in groups%}
    <a href="/group/{{group.name}}">
      <div class='group-card col-12'>
        <div class='group-info-area'>
          <span class="group-label">{{group.name}}</span>
          <hr class="thin-rule">
          <span aria-hidden="true"></span> {{group.description}}<br>
        </div>
      </div>
    </a>
    {%endfor%}
  </div>
</div>
{%endblock%}
