{% extends "template.html" %}
{% block title %}Home/Visiting Teaching{%endblock%}
{% block content %}
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="announcement"> The questions that always need asking.</div>
    <!--who teaches me-->
    <form action="/teaching" method="post" style="text-align:center;">
      <input type="hidden" name="question" value="teachme">
      My name is
      <input type="text" name="teachee" required></input>
      and I live at
      <select name="household">
        {%for household in households%}
          <option value="{{household}}">{{household}}</option>
        {%endfor%}
      </select>
      <button class = "pink-button" type="submit">Who teaches me?</button>
    </form>
    <!--end who teaches me-->
    <div class = "announcement">or</div>
    <!--who do i teach-->
    <form action="/teaching" method="post" style="text-align:center;">
      <input type="hidden" name="question" value="iteach">
      My name is
      <input type="text" name="teacher" required="">
      and I live at
      <select name="household">
        {%for household in households%}
          <option value="{{household}}">{{household}}</option>
        {%endfor%}
      </select>
      <button class="pink-button" type="submit">Who do I teach?</button>
    </form>
    <!--end who do i teach-->
    <div>
      <!--output for who do i teach-->
      {%if form =='iteach'%}
        <div class = "announcement">You teach</div>
        <div>
        {%for teachee in teachees%}
        <div class="person-card col-12">
          <div class="person-info-area">
            <span style="font-weight: bold;">{{ teachee.name }}</span><br>
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{ teachee.address }}<br>
            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> {{teachee.phone}}<br>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{teachee.email}}<br>
            <span class="glyphicon glyphicon-flash" aria-hidden="true"></span> {{teachee.calling}}<br>
          </div>
          <div class="person-pic-area">
            <img class="person-pic" src="./static/images/{{ teachee.pic }}">
          </div>
        </div>
        {%endfor%}
      </div>
      {%endif%}
      <!--end output for who do i teach-->

      <!--output for who teaches me-->
      {%if form =='teachme'%}
        <div class = "announcement">You are taught by</div>
        <div>
        {%for teacher in teachers%}
        <div class="person-card col-12">
          <div class="person-info-area">
            <span style="font-weight: bold;">{{ teacher.name }}</span><br>
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{ teacher.address }}<br>
            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> {{teacher.phone}}<br>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{teacher.email}}<br>
            <span class="glyphicon glyphicon-flash" aria-hidden="true"></span> {{teacher.calling}}<br>
          </div>
          <div class="person-pic-area">
            <img class="person-pic" src="./static/images/{{ teacher.pic }}">
          </div>
        </div>
        {%endfor%}
      </div>
      {%endif%}
      <!--end output for who teaches me-->
    </div>
  </div>
</div>
{%endblock%}
States who teaches who
select firstname, lastname, address, household from wardmember join teaching on wardmember.memberid = teaching.member1 or wardmember.memberid = teaching.member2;

THE MASTER QUERY
select a.firstname, a.lastname, b.firstname, b.lastname from wardmember as a
join teaching on a.memberid = teaching.member1 or a.memberid = teaching.member2
 join wardmember as b on teaching.household = b.address;
